:root {
    --primary: #0b5ed7;
    --secondary: #198754;
    --bg: #f6f8fb;
    --card: #ffffff;
    --text: #1f2937;
}


body.dark {
    --bg: #0f172a;
    --card: #111827;
    --text: #e5e7eb;
    --muted: #9ca3af;
}

body {
    margin: 0;
    font-family: "Segoe UI", Roboto, Arial, sans-serif;
    background: var(--bg);
    color: var(--text);
    transition: all 0.3s ease;
}

/* HEADER */
.main-header {
    background: linear-gradient(135deg, var(--primary), #084298);
    color: white;
    text-align: center;
    padding: 40px 20px;
}

.main-header h1 {
    margin: 0;
    font-size: 2.4rem;
}

.main-header p {
    margin-top: 10px;
    font-size: 1.1rem;
    opacity: 0.95;
}

/* NAVBAR */
.navbar {
    position: sticky;
    top: 0;
    background: var(--card);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    z-index: 100;
}

.navbar a {
    margin-right: 15px;
    text-decoration: none;
    color: var(--primary);
    font-weight: 600;
}

.navbar a:hover {
    text-decoration: underline;
}

#themeToggle {
    border: none;
    background: var(--bg);
    font-size: 18px;
    cursor: pointer;
}

/* SEARCH */
.search-section {
    padding: 25px;
    text-align: center;
}

.search-section input {
    width: 90%;
    max-width: 550px;
    padding: 14px;
    font-size: 16px;
    border-radius: 30px;
    border: 1px solid #ccc;
    outline: none;
}

/* SECTIONS */
.section {
    max-width: 1000px;
    margin: auto;
    padding: 50px 25px;
}

.section h2 {
    font-size: 1.9rem;
    margin-bottom: 15px;
    border-left: 5px solid var(--secondary);
    padding-left: 10px;
}

/* CARDS */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
    margin-top: 25px;
}

.card {
    background: var(--card);
    padding: 25px;
    border-radius: 14px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    transition: transform 0.25s ease;
}

.card:hover {
    transform: translateY(-6px);
}

/* CONTENT BOX */
.content-box {
    background: var(--card);
    padding: 25px;
    border-radius: 14px;
    margin-top: 20px;
    box-shadow: 0 6px 16px rgba(0,0,0,0.08);
}

/* LISTS */
ul, ol {
    padding-left: 20px;
}

li {
    margin-bottom: 8px;
}

/* FOOTER */
footer {
    background: var(--primary);
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}
